@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Quicksand:wght@300..700&display=swap');


html, body{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-optical-sizing: auto;
    background-color: rgb(54, 54, 54);
}
.title{
    text-align: center;
    font-size: 40px;
    color: rgb(204, 204, 204);
    margin-top: 100px;
    font-weight: 100;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;

}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-weight: weight;
    font-style: normal;


}


.container .card{
    width: 180px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(26, 118, 255, 0.767);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;

}


.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(6, 224, 17, 0.712);

}


.container .card img{
    width: 180px;
    height: 130px;
}


.container .card h4{
    font-weight: 600;
    color: rgba(68, 143, 255, 0.767);
}

.container .card p{
    color: rgb(204, 204, 204);
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}


.container.card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
